html,body,h1,h2,h3,h4,h5,h6,p,pre,ol,ul,li,input,textarea{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font:16px 'Microsoft YaHei UI','sans-serif';
}
a{
    text-decoration: none;
    color: #333;
}
/*默认样式*/
/*nav*/
.nav{
    width: 100%;
    height: 79px;
    background: white;
    position: fixed;
    z-index: 9999;
}
.banner{
    width: 100%;
    height: 720px;
    background: #cccccc;
}
.navContent{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.logo{
    width: 150px;
    height: 50px;
    float: left;
    margin-top:14px;
}
.navlist{
    width: 602px;
    height: 100%;
    float: right;
}
/*a行内元素没有宽高属性*/
.logo a{
    display: block;
    width:100%;
    height: 100%;
}
.logo a img{
    width: 100%;
    height: 100%;
}
.navlist li a{
    display: block;
    width: 79px;
    height:86px;
    text-align: center;
    line-height: 79px;
    font-size: 14px;
    float: left;
    transition:.5s ;
}
.navlist li a:hover{
    color: #16b0bc;
}
.first{
    color: #16b0bc;
}
/*
flower第三部分
*/
/*.单行文本溢出
iteminfo h2 a{*/
    /*overflow: hidden;  超出隐藏*/
    /*text-overflow:ellipsis ; 超出成省略号*/
    /*white-space: nowrap;*/
    /*display: block;*/
/*}*/
/*
.iteminfo p.infodesc::after{
    content: '...';

    position: absolute;
    right: 0;
    bottom:0
}*/
.finsh{
    width:100% ;
    height: 150px;
    background:#F1F1F1;
    text-align: center;
}
.finsh img{
    margin: 12px;
}
a span1,span2{
    color: #89bceb;
}
a:hover{
    text-decoration: underline #89bceb;
}
.finsh p{
    margin-top: 5px;
    font-size: 14px;
    line-height: 1em;
}
/*第二部分*/
.content{
    width: 100%;
    height: 1150px;
    margin-bottom: 30px;
    background: #333333;
}
ul{
    width: 100%;
    height: 1029px;
}
.content li{
    width: 50%;
    height:580px;
    float: left;
    overflow: hidden;
    position: relative;
}
li img{
    width: 100%;
    height: 100%;

}
img:hover{
    transform: scale(1.5);
}
.contentBox{
    width: 120px;
    height: 137px;
    position: absolute;
    top:243px;
    left: 320px;
    text-align: center;
    font-size: 14px;
    color: white;
}
.contentBox .underline{
    width: 20px;
    height: 2px;
    margin: 15px auto;
    background: #fff;
}
.contentBox h3{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: normal;
}
.content input{
    width: 60px;
    height: 36px;
    background: transparent;
    font-size: 14px;
    color: white;
    border: 1px solid  #e4eaec;
    border-radius: 3px;
}
input:hover{
    background: white;
    color: #e4eaec;
}
