html,body,h1,h2,h3,h4,h5,h6,p,pre,ol,ul,li,input,textarea{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font:16px 'Microsoft YaHei UI','sans-serif';
}
a{
    text-decoration: none;
    color: #333;
}
/*默认样式*/
/*nav*/
.nav{
    width: 100%;
    height: 79px;
    background: white;
    position: fixed;
}
.banner{
    width: 100%;
    height: 720px;
    background: #cccccc;
}
.navContent{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.logo{
    width: 150px;
    height: 50px;
    float: left;
    margin-top:14px;
}
.navlist{
    width: 602px;
    height: 100%;
    float: right;
}
/*a行内元素没有宽高属性*/
.logo a{
    display: block;
    width:100%;
    height: 100%;
}
.logo a img{
    width: 100%;
    height: 100%;
}
.navlist li a{
    display: block;
    width: 79px;
    height:86px;
    text-align: center;
    line-height: 79px;
    font-size: 14px;
    float: left;
    transition:.5s ;
}
.navlist li a:hover{
    color: #16b0bc;
}
.first{
    color: #16b0bc;
}
.second{
    width: 100%;
    height:2400px;
    padding: 50px 0px;
    background: #f2f2f2;
    text-align: center;
}
h1{
    margin-top: 70px;
    color:#F67A82;
    font-weight: normal;
}
.second .sekuai{
    /*background: blue;*/
    width: 1140px;
    height:1400px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.sekuai .left{
    width: 780px;
    height: 2161px;
    background: white;
    display: flex;
    justify-content: center;
    align-content:flex-start;
    flex-wrap: wrap;
}
.sekuai .right{
    width: 292px;
    height: 354px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
}
.left .group{
    /*background: #89bceb;*/
    width: 690px;
    min-height:160px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    margin-top: 30px;
}
hr{
    margin-top: 40px;
    color: #cccccc;
}
.pic img{
    width: 160px;
    height: 160px;
}

/*.left .pic{*/
    /*width: 160px;*/
    /*height:auto;*/
    /*background: black;*/
/*}*/
.left .wenzi{
    width: 510px;
    height: auto;
    /*background: #eb353d;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    text-align: left;
}
.wenzi p:nth-child(1){
    font-size: 22px;
    color: #2a333c;
    margin-bottom: 15px;
}
.wenzi p:nth-child(2),.wenzi p:nth-child(3){
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 200;
}
.bigzu .group .wenzi a:hover{
    color:#16b0bc;
    text-decoration: underline;
}
.left .smalldown{
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
}
.left .smalldown span:nth-child(1),.left .smalldown span:nth-child(5){
    width: 80px;
    height: 40px;
}
.left .smalldown span:nth-child(2){
    background: #eb0903;
}
.left .smalldown a:hover{
    text-decoration: none;
}
.left .smalldown span:nth-child(3):hover,.left .smalldown span:nth-child(4):hover,.left .smalldown span:nth-child(5):hover{
    background: #cccccc;
}
.left .smalldown span{
    border: 1px solid #e4eaec;
    display: block;
    width: 40px;
    height: 40px;
    color: #76838f;
    text-align: center;
    line-height: 40px;
}
.right .yuanjiao{
    width: 222.5px;
    height: 36px;
    background: white;
    border-radius: 15px;
    text-align: center;
    line-height: 36px;
    border: 1px solid #cccccc;
    margin-top: 30px;
}
.yuanjiao input{
   width:180px ;
    height: 30px;
    border: none;
}
.right .xiahuaxian{
    width: 220px;
    height: 1px;
    margin-top:-20px;
}
.right .content{
    width: 220px;
    height: 203px;
    /*background: red;*/
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 40px;
}
.content p:nth-child(1){
    font-size: 18px;
    font-weight: 300;
}
.content .wen1{
    width: 200px;
    height: 40px;
    border: 1px solid #cccccc;
    text-align: left;
    line-height: 40px;
    padding-left: 20px;
}
.content .wen1:nth-child(2){
    margin-top: 10px;
}
.wen1 a:hover{
    color: #89bceb;
}
.content+.xiahuaxian{
    margin-top: -60px;
}
.content1{
    width: 220px;
    height: 10px;
    display: flex;
    justify-content: flex-start;
}
.right .content1 a:hover{
    color: #89bceb;
    text-decoration: underline;
}
.second #bai{
    width: 100%;
    height: 20px;
    background: white;
    margin-top: 780px;
}
.finsh{
    width:100% ;
    height: 180px;
    background:#F1F1F1;
    text-align: center;
    margin-top: -70px;
}
.finsh img{
    margin: 12px;
}
a span1,span2{
    color: #89bceb;
}
a:hover{
    text-decoration: underline #89bceb;
}
.finsh p{
    margin-top: 5px;
    font-size: 14px;
    line-height: 1em;
}
